// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}

.cart-buttons {
    display: flex;
    float: right;
    >:last-child{
        margin-left: 10px;
    }
    @media (max-width: $screen-small) {
        display: block;
        float: unset;
        >:last-child{
            margin-left: unset;
            margin-top: 10px;
        }
    }
}


.customer-banner{
    background-color: stencilColor("button--primary-backgroundColor");
    padding: 10px 20px;
    margin-top: -2.5rem;
    margin-bottom: 1rem;
    margin-left: -20px;
    width: calc(100% + 40px);
    @media (max-width: 768px) {
        margin-top: -1.5rem;
    }
}

#customer-name {
    color: stencilColor("button--primary-color");
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: right;
}
